* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color: azure
}

.thumbnail {
  width: 100%;
  max-width: 338px;
  border-radius: 10px;
  display: inline-block;
  object-fit: cover;
  height: 170px;
}

.profile {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 9px;
  object-fit: cover;
}



.watch {
  display: inline-block;
  margin-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 17px;
  background-color: black;
  color: #3ea6ff;
  border-color: aqua;
  font-weight: bold;
  font-size: small;
  margin-left: -46px;
  margin-right: -7px;
  border: 0.1px solid #424d5a;
  width: 165px;
  cursor: pointer;
  height: 34px;
  vertical-align: top;
  display: inline-block;
}

.download {
  display: inline-block;

  padding-left: 35px;
  padding-right: 35px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 17px;

  color: #3ea6ff;
  border-color: azure;
  font-weight: bold;
  font-size: medium;
  margin-right: 10px;
  text-align: center;
  width: 150px;
  margin-left: 10px;
  background-color: #4a4f5a;
  border: none;
  width: 165px;
  cursor: pointer;
  font-size: small;
  height: 34px;
  vertical-align: top;
  display: inline-block;
  margin-top: -34px;
  margin-left: 125px;
}

.subh {
  font-size: 13px;
  color: #d5c1c1;
  margin-top: 7px;

}

.buttons {
  margin-top: -7px;
}

.watch:hover {
  border: none;
  background-color: #4a4f5a;
}

.ad {
  display: inline-block;
}

.searchbar {
  display: block;
}

.view-and-time {
  font-size: 13px;
  color: #d5c1c1;
}

.channel {
  font-size: 15px;
  margin-top: 7px;
  color: #d5c1c1;
}

.section {
 
  
}

.spons-bold {
  font-weight: bold;
}
.grid-property{
  display:grid;
  grid-template-columns: 50px 1fr;
  margin-top: 5px;

}
.section-grid{
  display: grid;
  grid-template-columns: repeat(3,338px);
  padding-left: 289px;
  column-gap: 28px;
  row-gap: 14px;
  margin-top:20px
}
.header{
  background-color:black;
  width:100%;
  height: 70px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left:100px;
  padding: 0 20px; 
}

.search-box{
  width:500px;
  flex:1;
  background-color: aliceblue;
}
.icons{
  background-color: green;
  width:250px;
 
}
.fa-youtube{
  font-size: 33px;
}
.logo{
  display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   background-color: black;
   width: 200px;
}
.YOUTUBE{
 
}
.name{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;   /* bold like in the logo */
  color: white;
  letter-spacing: -0.2px;
  margin-left: 3px;
}
.region{
  vertical-align: top;
  font-size: 12px;
  color:#8a8f96;
}
.search-box{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-right: 106px;
}
.search{
    width: 600px;
    height: 38px;
    border-bottom-left-radius: 21px;
    border-top-left-radius: 21px;
    border: 1px solid  hsla(0, 0%, 100%, .08);
    padding-left: 15px;
    background-color: hsla(0, 0%, 100%, .08);
  }
  .fa-magnifying-glass{
    height: 10px;
    color:rgb(248, 242, 242);
    margin-left: -4px;
    font-size: 18px;
  
  }
  .lense{
    width: 60px;
    height: 38px;
    border: 1px solid hsl(0, 0%, 18.82%);
    background-color: hsla(0, 0%, 100%, .08);
    
    border-bottom-right-radius: 21px;
    border-top-right-radius: 21px;
  }
  .voice{
    width: 60px;
    height: 38px;
    border-radius: 200px;

  }


